{
  "extends": "@sanity/eslint-config-studio",
  "plugins": ["prettier", "simple-import-sort"],
  "rules": {
    "prettier/prettier": "error",
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error"
  }
}
