{
  "ignorePatterns": ["build", "node_modules", ".cache"],
  "extends": [
    "@remix-run/eslint-config",
    "@remix-run/eslint-config/node",
    "prettier"
  ],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "semi": false,
        "printWidth": 100,
        "bracketSpacing": false,
        "singleQuote": true
      }
    ]
  }
}
